<div style="position: relative;background-color: #eee;">
  <!-- 头部 -->
    <div>
      <div style="text-align:center;padding: 0 19px;">
        <h4 style="padding:15px 0 ;border-bottom: 1px solid #d6d6d6;">{{your_info?.name}}<img *ngIf="your_info.is_group" src="../../../assets/down-circle.png" style="display: inline;width: 15px;height: 15px;" (click)="show_members=!show_members"></h4>
      </div>
   </div>
<!-- 消息显示窗口 -->
    <div id="show_msg" style="height:480px" >
     <ng-container *ngIf="this.ws.global_message.chat_room_list.get(this.your_info.id); else elseTemplate">
      <div *ngFor="let item of this.ws.global_message.chat_room_list.get(this.your_info.id)?.message_list">

        <ng-container *ngIf="item&&my_id==item?.from; else elseTemplate1">
            <app-dialogbox [msgitem]="item" [isme]="item&&true" [img]="my_head_img"></app-dialogbox>
        </ng-container>
        <ng-template #elseTemplate1>
            <app-dialogbox [msgitem]="item" [isme]="item&&false" [img]='"/api/head-img/"+item.from'></app-dialogbox>
        </ng-template>
      </div>
      </ng-container>
      <ng-template #elseTemplate style="text-align: center">
        <p style="width: 100%;;text-align: center;margin-top: 100px;color: #999999c9;">暂无消息</p>
      </ng-template>
      
    </div>
    <!-- 发送消息窗口 -->
    <div>
      <div style="border-top: 1px solid #d6d6d6;height:180px">
        <div style=" padding:10px 17px;">
          <a><img style="width: 25px;height: 25px;" src="../../../assets/biaoqing.png" (click)="isEmojiVisible=true"></a>
          <input #upfile type="file" style="display: none;" (change)="selectFile($event)" accept=".pdf,.doc,.txt,.jpg,.zip,.jpeg,.ppt">
          <a (click)="upfile.click()"><img  style="width: 25px;height: 25px; margin-left: 15px" src="../../../assets/files.png"></a>
        </div>
        <div id="divinput" class="send_input" contenteditable="true" #editbox  (keyup)="listenEdit($event)"></div>
          <div style="height:30px;text-align: right; padding-right: 20px;">
              <span style="color:#c3c3c3;">按下Ctrl+Enter换行</span>
              <a class="btn-send" (click)="send();">发送</a>
          </div>
      </div>
      
    </div>

    <!-- 头部下拉显示成员 -->
    <div *ngIf="your_info.is_group&&show_members" class="show_members">
      <div class="members">
          <div *ngFor="let item of group_members">
            <div class="member">
                <img [src]="item.head_img" class="avatar">
                <p class="nickname">{{item.name}}</p>
            </div>
          </div>
      </div>
      
    </div>
  </div>



<!-- 表情模块 -->
<nz-modal  [(nzVisible)]="isEmojiVisible"    [nzContent]="modalContent" nzTitle="表情选择" [nzFooter]="null" (nzOnCancel)="handleEmojiCancel()" (nzOnOk)="handleEmojiCancel()">
<ng-template #modalContent >
  <div class="emojibody">
    <ng-container *ngIf="emojis && emojis.length>0; else elseemojiTemplate">
      <div *ngFor="let emoji of emojis" class="emoji">
        <a [innerHTML]="emoji.emoji" (click)="addEmoji(emoji.emoji)"></a>
      </div>
    </ng-container>
    <ng-template #elseemojiTemplate>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </ng-template>  
  </div>
</ng-template>
</nz-modal>

<div class="unselect" *ngIf="your_info.id==-1">
  <img style="position: relative;top: 100px;" src="../../../assets/chaticon.png">
  <h3 style="position: relative;top: 140px;color: white">开始聊天吧(｡･∀･)ﾉﾞ</h3>
</div>