#box{          
    /* line-height: 50px;         */     
    word-break: break-word;        
    color: rgb(10, 10, 10);        
  
  
      position: relative;
      /* width: 140px; */
      min-height: 30px;
      max-width: 300px;
      width: fit-content;
      min-width: 30px;
      line-height: 20px;
      margin-left: 10px;
      word-wrap: 5px;
      background: #b2e281;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding: 10px;
      vertical-align: middle;
      text-align: left;
      left: 22px;
  }
  /*左方说话*/
  #box:before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      right: 100%;
      top: 14px;
      border-top: 5px solid transparent;
      border-right: 13px solid #b2e281;
      border-bottom: 6px solid transparent;
  }
  .content{
    overflow: hidden;
    padding: 0 0 10px 0;
  }
  .bubble{
    left:5%;
    max-width: 254px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
  }
  .bubbleright{
    left:51%;/*52%*/
    max-width: 254px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #b2e281;
  }
  .bubbleright::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 5px;
    border-top: 5px solid transparent;
    border-left: 7px solid #b2e281;
    border-bottom: 6px solid transparent;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }
  .bubblerightword{
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #b2e281;
    float: right;
    right: 9%;
  }
  .bubblerightword::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 5px;
    border-top: 5px solid transparent;
    border-left: 13px solid #b2e281;
    border-bottom: 6px solid transparent;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }
  .bubble_cont{
    word-wrap: break-word;
    word-break: break-all;
    min-height: 10px;
  }
  .attach{
    padding: 10px;
    background-color: #fff;
    min-height: 75px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    min-width: 250px;
    max-width: 300px;
    margin: 2px;
    position: relative;
  }
  .cover{
    display: table-cell;
    padding-right: 10px;
  }
  .cont{
    display: table-cell;
    vertical-align: top;
  }
  .title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: bold;
    max-width: 150px;
    font-weight:600;
  }
  .opr{
    margin-top: 25px;
  }
  .pic{
      height: 79px;
      width: 79px;
  }
  .a{
    color: #35ac2f;
    text-decoration: none;
  }
  .bubble::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 5px;
    border-top: 5px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 6px solid transparent;
    border-left-color: #fff;
    border-left-width: 4px;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }

  .picture {
    width: 110px;
    height:110px;
    margin-right: 1rem;
    background-size: cover;

}
.pictureloading {
  width: 110px;
  height:110px;
  margin-right: 1rem;
  background-size: cover;
  filter: grayscale(50%);
  filter: gray;
  position:absolute;
  z-index:1;

}
.fileheadportraitonleft{
    left:5%;
    position: relative;
    width:110px;
    height:110px;
    cursor:pointer;
}
.fileheadportraitonright{
    left:74%;/*74%*/
    position: relative;
    width:110px;
    height:110px;
    cursor:pointer;
}
:host ::ng-deep .fileheadportraitonleft img{
    width:100%;height:100%;

}
:host ::ng-deep .fileheadportraitonright img{
    width:100%;height:100%;

}

.mask  {    
    position: absolute;    
    width: 100%;    
    height: 100%;      
    background: #868c89;    
    opacity: 0;	
    color: black;
    text-align: center;
    line-height:110px;
    margin-top: -110px;
}/*hover状态（按你的需求）控制显示。opacity/display/z-index都可以*/	
.fileheadportraitonleft:hover .mask {    opacity: .5;	}

.fileheadportraitonright:hover .mask {    opacity: .5;	}
.upload-btn {
    left: 12%;
    background-color: #b2e281;
    color: rgb(10, 10, 10);
    margin-left:15px; 
    border-radius: 2px;
    border: none;
    /* padding: .5rem 1.3rem; */
    cursor: pointer;
    height: 30px;
    }

    #box1{          
        min-height: 30px;           
        /* line-height: 50px;         */
        /* margin-right: 10px;         */
        /* right: 10px; */
        /* float: right; */
        right: 60px;
        margin: 0 0 0 auto;
        word-break: break-word;        
        color: rgb(10, 10, 10);
        padding: 10px;        
        line-height: 18px;
      
        position: relative;
        /* left:780px;  */
        /* width: 140px; */
        max-width: 300px;
        min-width: 30px;
        width: fit-content;
      
        /* height: 30px; */
        background: #b2e281;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        /* padding: 10px; */
        vertical-align: middle;
        text-align: left;
      }
      #box1:before{
        position: absolute;
          content: "";
          width: 0;
          height: 0;
          left: 100%;
          top:14px;
          border-top: 5px solid transparent;
          border-left: 13px solid #b2e281;
          border-bottom: 6px solid transparent;
      }
      .headportraitonright{
        left: 93%;/*93%*/
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        cursor: pointer;
        text-align: right;
        bottom: 15px;
      }
      .headportraitonleft{
        left: 3%;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        cursor: pointer;
        text-align: right;
        bottom: 12px;
      }
      .timeonleft{
        max-width: 140px;
        left: 10%;/*7%*/
        margin-right: 10px;
        background-size: cover;
        position: relative;
        color: rgba(0, 0, 0, 0.65);
        font-size: 12px;
    }
      .timeonright{
          max-width: 140px;
          left:76%;/*73%*/
          margin-right: 10px;
          background-size: cover;
          position: relative;
          color: rgba(0,0,0,0.65);
          font-size: 12px;
      }
      .loadingonright{
        position: absolute;
        right: 90%;
        top: 50%;
        margin-top: -7px;
        margin-right: 13px;
      }
      .loadingonleft{
        position: absolute;
        left: 105%;
        top: 50%;
        margin-top: -7px;
        margin-right: 13px;
      }
      .plain{
        padding: 9px 13px;
        font-size: 16px;
      }
      .picture2{
        max-width: 100%; 
        max-height: 100%;
       background-attachment: fixed;
       background-size: cover;
       }
      
    






/*=================================加载动画==================*/
.windows8 {
	/* position: relative; */
	width: 52px;
	height:52px;
  margin:auto;
  position:absolute;
  z-index:1;
  top:30px;
  left: 30px;
}

.windows8 .wBall {
	position: absolute;
	width: 49px;
	height: 49px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 6.96s infinite;
		-o-animation: orbit 6.96s infinite;
		-ms-animation: orbit 6.96s infinite;
		-webkit-animation: orbit 6.96s infinite;
		-moz-animation: orbit 6.96s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: rgb(0,0,0);
	left:0px;
	top:0px;
	border-radius: 6px;
}

.windows8 #wBall_1 {
	animation-delay: 1.52s;
		-o-animation-delay: 1.52s;
		-ms-animation-delay: 1.52s;
		-webkit-animation-delay: 1.52s;
		-moz-animation-delay: 1.52s;
}

.windows8 #wBall_2 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}

.windows8 #wBall_3 {
	animation-delay: 0.61s;
		-o-animation-delay: 0.61s;
		-ms-animation-delay: 0.61s;
		-webkit-animation-delay: 0.61s;
		-moz-animation-delay: 0.61s;
}

.windows8 #wBall_4 {
	animation-delay: 0.91s;
		-o-animation-delay: 0.91s;
		-ms-animation-delay: 0.91s;
		-webkit-animation-delay: 0.91s;
		-moz-animation-delay: 0.91s;
}

.windows8 #wBall_5 {
	animation-delay: 1.22s;
		-o-animation-delay: 1.22s;
		-ms-animation-delay: 1.22s;
		-webkit-animation-delay: 1.22s;
		-moz-animation-delay: 1.22s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}