#box{          
    /* line-height: 50px;         */     
    word-break: break-word;        
    color: rgb(10, 10, 10);        
  
  
      position: relative;
      /* width: 140px; */
      min-height: 30px;
      max-width: 300px;
      width: fit-content;
      min-width: 30px;
      line-height: 20px;
      margin-left: 10px;
      word-wrap: 5px;
      background: #b2e281;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding: 10px;
      vertical-align: middle;
      text-align: left;
      left: 22px;
  }
  /*左方说话*/
  #box:before{
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      right: 100%;
      top: 14px;
      border-top: 5px solid transparent;
      border-right: 13px solid #b2e281;
      border-bottom: 6px solid transparent;
  }
  .content{
    overflow: hidden;
    padding: 0 0 10px 0;
  }
  .bubble{
    left:5%;
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #b2e281;
  }
  .bubbleright{
    left:44%;/*52%*/
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #b2e281;
  }
  .bubbleright::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 14px;
    border-top: 5px solid transparent;
    border-left: 13px solid #b2e281;
    border-bottom: 6px solid transparent;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }
  .bubblerightword{
    max-width: 500px;
    min-height: 1em;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #b2e281;
    float: right;
    right: 9%;
  }
  .bubblerightword::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 14px;
    border-top: 5px solid transparent;
    border-left: 13px solid #b2e281;
    border-bottom: 6px solid transparent;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }
  .bubble_cont{
    word-wrap: break-word;
    word-break: break-all;
    min-height: 10px;
  }
  .attach{
    padding: 10px;
    background-color: #fff;
    min-height: 75px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    min-width: 250px;
    max-width: 300px;
    margin: 2px;
    position: relative;
  }
  .cover{
    display: table-cell;
    padding-right: 10px;
  }
  .cont{
    display: table-cell;
    vertical-align: top;
  }
  .title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: bold;
    max-width: 200px;
    font-weight:600;
  }
  .opr{
    margin-top: 25px;
  }
  .pic{
      height: 79px;
      width: 79px;
  }
  .a{
    color: #35ac2f;
    text-decoration: none;
  }
  .bubble::before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 9px;
    border-top: 5px solid transparent;
    border-right: 13px solid #b2e281;
    border-bottom: 6px solid transparent;
    border-left-color: #b2e281;
    border-left-width: 4px;
    /* left: 0%;
    border-left-color: #b2e281;
    border-left-width: 4px;
    position: absolute;
    top: 14px;
    border: 6px solid transparent;
    content: " "; */
  }

  .picture {
    width: 110px;
    height:110px;
    margin-right: 1rem;
    background-size: cover;
}

.fileheadportraitonleft{
    left:5%;
    position: relative;
    width:110px;
    height:110px;
    cursor:pointer;
}
.fileheadportraitonright{
    left:74%;/*74%*/
    position: relative;
    width:110px;
    height:110px;
    cursor:pointer;
}
:host ::ng-deep .fileheadportraitonleft img{
    width:100%;height:100%;

}
:host ::ng-deep .fileheadportraitonright img{
    width:100%;height:100%;

}

.mask  {    
    position: absolute;    
    width: 100%;    
    height: 100%;      
    background: #868c89;    
    opacity: 0;	
    color: black;
    text-align: center;
    line-height:110px;
    margin-top: -110px;
}/*hover状态（按你的需求）控制显示。opacity/display/z-index都可以*/	
.fileheadportraitonleft:hover .mask {    opacity: .5;	}

.fileheadportraitonright:hover .mask {    opacity: .5;	}
.upload-btn {
    left: 12%;
    background-color: #b2e281;
    color: rgb(10, 10, 10);
    margin-left:15px; 
    border-radius: 2px;
    border: none;
    /* padding: .5rem 1.3rem; */
    cursor: pointer;
    height: 30px;
    }

    #box1{          
        min-height: 30px;           
        /* line-height: 50px;         */
        /* margin-right: 10px;         */
        /* right: 10px; */
        /* float: right; */
        right: 60px;
        margin: 0 0 0 auto;
        word-break: break-word;        
        color: rgb(10, 10, 10);
        padding: 10px;        
        line-height: 18px;
      
        position: relative;
        /* left:780px;  */
        /* width: 140px; */
        max-width: 300px;
        min-width: 30px;
        width: fit-content;
      
        /* height: 30px; */
        background: #b2e281;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        /* padding: 10px; */
        vertical-align: middle;
        text-align: left;
      }
      #box1:before{
        position: absolute;
          content: "";
          width: 0;
          height: 0;
          left: 100%;
          top:14px;
          border-top: 5px solid transparent;
          border-left: 13px solid #b2e281;
          border-bottom: 6px solid transparent;
      }
      .headportraitonright{
        /* width: 40px;
        height: 40px;
        top:40px;
        margin: 0 0 0 auto;
        margin-right: 10px;
        background-size: cover;
        overflow:hidden; */
        left: 93%;/*93%*/
        position: relative;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        cursor: pointer;
        text-align: right;
      }
      .headportraitonleft{
        left: 3%;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        float: left;
        cursor: pointer;
        text-align: right;
      }
      .timeonleft{
        max-width: 140px;
        left: 10%;/*7%*/
        margin-right: 10px;
        background-size: cover;
        position: relative;
    }
      .timeonright{
          max-width: 140px;
          left:76%;/*84%*/
          margin-right: 10px;
          background-size: cover;
          position: relative;
      }
      .loadingonright{
        position: absolute;
        right: 90%;
        top: 50%;
        margin-top: -7px;
        margin-right: 13px;
      }
      .loadingonleft{
        position: absolute;
        left: 105%;
        top: 50%;
        margin-top: -7px;
        margin-right: 13px;
      }
      .plain{
        padding: 9px 13px;
      }