<div  style="position: relative;">
  <div class="all" style='line-height:60px;background:#2e3238;border-bottom: 1px solid #292c33;'>
      <nz-badge  style="vertical-align: middle;margin-left: 14px">
         <nz-avatar [nzSize]="42" [nzShape]="'square'" [nzIcon]="'user'" [nzSrc]="head_img"></nz-avatar>
      </nz-badge>
      <h5 style="position: absolute;top: 12px;left:70px;color: white">{{name}}</h5>
      <span style="position: absolute;top:-9px;right:10px;color:#989898;">{{time|dateSwich}}</span>
      <div style="position: absolute;top: 12px;left:70px;color: white">
        <span style="color: #989898" *ngIf="tips&&tips.length>0">{{tips}}</span>
        <span style="color: #989898" *ngIf="min_message&&min_message.length>0">{{min_message}}</span>
      </div>
  </div>
</div>


<div  style="position: relative;">
  <div class="all" style='line-height:60px;background:#2e3238;border-bottom: 1px solid #292c33;'>
      <nz-badge  style="vertical-align: middle;margin-left: 14px">
         <nz-avatar [nzSize]="42" [nzShape]="'square'" [nzIcon]="'user'" [nzSrc]="head_img"></nz-avatar>
      </nz-badge>
      <h5 style="position: absolute;top: 12px;left:70px;color: white">{{name}}</h5>
      <span style="position: absolute;top:-9px;right:10px;color:#989898;">{{time|dateSwich}}</span>
      <div style="position: absolute;top: 12px;left:70px;color: white">
        <span style="color: #989898" *ngIf="tips&&tips.length>0">{{tips}}</span>
        <span style="color: #989898" *ngIf="min_message&&min_message.length>0">{{min_message}}</span>
      </div>
  </div>
</div>


<div  style="position: relative;">
  <div class="all" style='line-height:60px;background:#2e3238;border-bottom: 1px solid #292c33;'>
      <nz-badge  style="vertical-align: middle;margin-left: 14px">
         <nz-avatar [nzSize]="42" [nzShape]="'square'" [nzIcon]="'user'" [nzSrc]="head_img"></nz-avatar>
      </nz-badge>
      <h5 style="position: absolute;top: 12px;left:70px;color: white">{{name}}</h5>
      <span style="position: absolute;top:-9px;right:10px;color:#989898;">{{time|dateSwich}}</span>
      <div style="position: absolute;top: 12px;left:70px;color: white">
        <span style="color: #989898" *ngIf="tips&&tips.length>0">{{tips}}</span>
        <span style="color: #989898" *ngIf="min_message&&min_message.length>0">{{min_message}}</span>
      </div>
  </div>
</div>


<div  style="position: relative;">
  <div class="all" style='line-height:60px;background:#2e3238;border-bottom: 1px solid #292c33;'>
      <nz-badge  style="vertical-align: middle;margin-left: 14px">
         <nz-avatar [nzSize]="42" [nzShape]="'square'" [nzIcon]="'user'" [nzSrc]="head_img"></nz-avatar>
      </nz-badge>
      <h5 style="position: absolute;top: 12px;left:70px;color: white">{{name}}</h5>
      <span style="position: absolute;top:-9px;right:10px;color:#989898;">{{time|dateSwich}}</span>
      <div style="position: absolute;top: 12px;left:70px;color: white">
        <span style="color: #989898" *ngIf="tips&&tips.length>0">{{tips}}</span>
        <span style="color: #989898" *ngIf="min_message&&min_message.length>0">{{min_message}}</span>
      </div>
  </div>
</div>

