/* :host ::ng-deep .demo-infinite-container {
    height: 300px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  } */

:host ::ng-deep .demo-infinite-container {
  height: 300px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}
.avatar{
  height: 80px;
  width: 200px;

}
.avatar2{
  overflow-y: auto;
  overflow-x:none;
  height: 80px;
  width: 200px;
}
.container{
  /* background-color:rgb(223, 219, 219); */
  background-color: #DDDDDD;
  width: 1002px;
  height: 740px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: １;
  border-color: #616060;
  /* border: 2px;
  color: #000000 */
}
.search{
  position:absolute;
  margin-top: 15px;
  margin-left: 5px;
  width: 240px;
}
.icon{
  cursor: pointer;
}
.list{
  background-color: #7a7a7a;
  width: 250px;
  height: 600px;
  /* color: white; */

  /* overflow-y:scroll;  纵向滚动条始终显示 */
  overflow-y: auto;
  overflow-x:none;
}
.item{
  color: white;
  border-bottom:1px solid #EEE;
  height: 65px;
  font-size: 12px;
  /* font-display: center; */
  vertical-align: middle;
  /* text-align: center; */
  position: relative;
  cursor: pointer;

}
/* nz-list-item{
  color: white;
} */
.img{
  /* margin: 5px; */
  /* margin-top: 10px; */
  height:40px; 
  width:40px; 
  position: relative;
  /* border-radius:50%;  */
  overflow:hidden;
}
.message{
  width: 750px;
  height: 480px;
  background-color: #F9F9F9;
  padding: 0px;
  overflow-y: auto;
  overflow-x: none;
  vertical-align: top;
}
.message1{
  width: 750px;
  height: 480px;
  background-color: #F9F9F9;
  padding: 10px;
  overflow-y: auto;
  overflow-x: none;
  vertical-align: top;
}
.inputmes{
  width: 749px;
  height: 200px;
  background-color: white;
}
.him{
  height: 60px;
  color: #444444;
}

.textarea{
  background-color: white;
  resize: none;
  width: 750px;
  height: 140px;
  position: absolute;
  padding: 10px;
  border: none;
  outline: none;
  /* margin-top: 30px; */
}
.tool{
  width: 750px;
  background-color: #EEEEEE;
  height: 30px;
  cursor: pointer;

}
.icon{
  margin-left: 15px;
  margin-top: 3px;
  color: #777777;
}
.send{
  position: absolute;
  margin-left: 680px;
  margin-top: 130px;
}
/* .arrow {
  vertical-align: middle;
  width:200px;
  height:25px;
  font-size:16px;
  background-color: #AABBCC ;
  margin: 15px;
  overflow-wrap: normal;
} */

#box{
  min-height: 30px;          
  border-radius: 5px;        
  /* line-height: 50px;         */
  margin-left: 10px;        
  word-break: break-word;        
  color: white;        
  padding: 5px;        
  line-height: 18px;


    position: relative;
    left:30px; 
    width: 140px;
    min-height: 30px;
    line-height: 20px;
    margin-left: 10px;
    word-wrap: 5px;
    background: #088cb7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    margin-top:10px;
    vertical-align: middle;
    text-align: center;
}
/*左方说话*/
#box:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 9px;
    border-top: 5px solid transparent;
    border-right: 13px solid #088cb7;
    border-bottom: 6px solid transparent;
}
/*右方说话*/
#box1{          
  min-height: 30px;          
  border-radius: 5px;        
  /* line-height: 50px;         */
  margin-right: 10px;        
  word-break: break-word;        
  color: white;        
  padding: 5px;        
  line-height: 18px;

  position: relative;
  left:560px; 
  width: 140px;
  /* height: 30px; */
  background: #088cb7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* padding: 10px; */
  margin-top:10px;
  vertical-align: middle;
  text-align: center;
}
#box1:before{
  position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 9px;
    border-top: 5px solid transparent;
    border-left: 13px solid #088cb7;
    border-bottom: 6px solid transparent;
}
.tips{
  position: relative; 
  text-align: center;
  vertical-align: middle;;
}
.grad{
  width: 75px;
  background-color:transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.point{
  /* width: 2px; */
  /* left: 60px; */
  margin:5px;
}

.smallContainer{
  width: 240px;
  background-color: #FFFFFF;
  position:absolute;
  text-align: center;
  z-index: 5000;
}
.headportrait{
  position: relative;
  width:230px;
  height:230px;
  bottom: -26px;
  margin-left:26px;
  cursor:pointer;
}

:host ::ng-deep .headportrait img{
  width:100%;height:100%;

}

.mask  {    
  position: absolute;    
  width: 100%;    
  height: 100%;      
  background: #868c89;    
  opacity: 0;	
  color: black;
  text-align: center;
  line-height:230px;
  margin-top: -230px;
}/*hover状态（按你的需求）控制显示。opacity/display/z-index都可以*/	
.headportrait:hover .mask {    opacity: .5;	}

.upload-btn {
background-color: #337ab7;
color: #fff;
border-radius: 2px;
border: none;
padding: .5rem 1.3rem;
cursor: pointer;
}

.picture {
width: 7rem;
height: 7rem;
margin-right: 1rem;
background-size: cover;
}

.action-box {
margin-left: 1rem;
}
.hint {
color: #909090;
font-size: 1.7rem;
margin-bottom: 1.5rem;
}