.container{
  background-color: #DDDDDD;
  width: 1024px;
  height: 675px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.avatar{
  /* 1 */
  background-color: rgb(198, 228, 98);
  height: 40px;
  width: 240px;
  height: 30px;
}
.him{
  /* 2 */
  background-color: rgb(101, 216, 206);
  width: 790px;
  height: 60px;
  color: #444444;
  padding-left: 20px;
}
.avatar2{
  /* 3 */
  background-color: rgb(121, 202, 128);
  height: 35px;
  width: 790px;
}

.inputmes{
  /* 5 */
  background-color: rgb(240, 244, 255);
  vertical-align: top;
  width: 790px;
  height: 190px;
  /* background-color: white; */
}
.tool{
  /* 6 */
  width: 790px;
  height: 35px;
  background-color: rgb(233, 173, 168);

}
.list{
  /* 4 */
  background-color: rgb(229, 155, 226);

  width: 240px;
  height: 550px;
  overflow-x: none;
  overflow-y: auto;
  vertical-align: top;

}
.list li{
    height: 65px;
    list-style-type: none;
    vertical-align: middle;
    padding: 15px;
}
.item{
    color: white;
    border-bottom:1px solid #EEE;
    height: 65px;
    font-size: 12px;
    /* font-display: center; */
    vertical-align: middle;
    /* text-align: center; */
    position: relative;
    cursor: pointer;
}
.list li:hover{
  background-color: bisque;
}
.list li.selected:hover{
  background-color: aquamarine !important
}
.selected{
  background-color: aqua !important
}
.search{
  background-color: rgb(46, 64, 230);
  height: 35px;
  width: 240px;
}
.bar{
  background-color: rgb(133, 91, 78);
  height: 35px;
  width: 240px;
}
.bartool{
  width: 70px;
}
.dropdown{
  z-index: 100;
}
.grad{
  width: 70px;
  background-color:transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
  height: 25px;
}
.img{
  /* margin: 5px; */
  /* margin-top: 10px; */
  height:40px; 
  width:40px; 
  position: relative;
  /* border-radius:50%;  */
  overflow:hidden;
}
.send{
  position: absolute;
  margin-left: 720px;
  margin-top: 155px;
  z-index: 100;
}
.textarea{
  background-color: white;
  resize: none;
  width: 790px;
  height: 150px;
  position: absolute;
  padding: 15px;
  border: none;
  outline: none;
  /* margin-top: 30px; */
}
#box{
  min-height: 30px;          
  border-radius: 5px;        
  /* line-height: 50px;         */
  margin-left: 10px;        
  word-break: break-word;        
  color: white;        
  padding: 5px;        
  line-height: 18px;


    position: relative;
    left:30px; 
    width: 140px;
    min-height: 30px;
    line-height: 20px;
    margin-left: 10px;
    word-wrap: 5px;
    background: #088cb7;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    margin-top:10px;
    vertical-align: middle;
    text-align: center;
}
/*左方说话*/
#box:before{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 9px;
    border-top: 5px solid transparent;
    border-right: 13px solid #088cb7;
    border-bottom: 6px solid transparent;
}
/*右方说话*/
#box1{          
  min-height: 30px;          
  border-radius: 5px;        
  /* line-height: 50px;         */
  margin-right: 10px;        
  word-break: break-word;        
  color: white;        
  padding: 5px;        
  line-height: 18px;

  position: relative;
  left:560px; 
  width: 140px;
  /* height: 30px; */
  background: #088cb7;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* padding: 10px; */
  margin-top:10px;
  vertical-align: middle;
  text-align: center;
}
#box1:before{
  position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 100%;
    top: 9px;
    border-top: 5px solid transparent;
    border-left: 13px solid #088cb7;
    border-bottom: 6px solid transparent;
}
.message1{
  width: 790px;
  height: 430px;
  background-color: #F9F9F9;
  padding: 10px;
  overflow-y: auto;
  overflow-x: none;
  vertical-align: top;
}
.mesback{
  cursor: pointer;
}


.upload-btn {
  background-color: #337ab7;
  color: #fff;
  border-radius: 2px;
  border: none;
  /* padding: .5rem 1.3rem; */
  cursor: pointer;
  height: 30px;
  }
  
  .picture {
  width: 7rem;
  height: 7rem;
  margin-right: 1rem;
  background-size: cover;
  }
  .picture2 {
    width: 490px;
    height: 500px;
    margin-right: 1rem;
    background-size: cover;
    }
  .action-box {
  margin-left: 1rem;
  }
  .hint {
  color: #909090;
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  }
  
  .dropdown{
    z-index: 100;
    position:absolute;
    margin-left: 16px;
    background-position-y: 7rem;  
    width: 80px;
    height: 25px;
  }

  .headportrait{
    position: relative;
    width:7rem;
    height:7rem;
    cursor:pointer;
}

:host ::ng-deep .headportrait img{
    width:100%;height:100%;

}

.mask  {    
    position: absolute;    
    width: 100%;    
    height: 100%;      
    background: #868c89;    
    opacity: 0;	
    color: black;
    text-align: center;
    line-height:7rem;
    margin-top: -7rem;
}/*hover状态（按你的需求）控制显示。opacity/display/z-index都可以*/	
.headportrait:hover .mask {    opacity: .5;	}

