<div style="position: relative;background-color: #eee;">
    <div>
      <div style="text-align:center;padding: 0 19px;">
        <h4 style="padding:15px 0 ;border-bottom: 1px solid #d6d6d6;">详细信息</h4>
      </div>
   </div>
    <div class="profile" style="height:648px">
        <div>
            <img style="width: 100px;height: 100px; " [src]="head_img">
        </div>
        <div class="nickname">
            {{name}}
        </div>
        <div *ngIf="your_info.name">
          <a class="button" >发消息</a>
        </div>
    </div>
  </div>