.profile{
    padding: 80px 0;
    text-align: center;
}

.nickname {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
}

.button {
    display: inline-block;
    width: 200px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    background-color: #42ac3e;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}